/* Utility */ 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* end Utility */


/* Contain */
.page_contain{
    width: 80%;
    margin: auto;
}

.footer{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.title{
    height: 150px;
    line-height: 150px;
    font-size: 5rem;
    color: #ffffff;
}
/* end Contain */


/* Card */

.card{
    width: 24%;
    height: 500px;
    border-radius: 1rem;
    float: left;
    margin: 2% 0.5%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    position: relative;
    left: 0;
}

.card:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.card_txt{
    font-size: 2.3rem;
    opacity: 0;
    padding-top: 440px;
}

.card:hover h2{
    opacity: 1;
}

/* endCard */



/* Image hover */

.submarine:hover{
    background-image: url(../img/noun_Submarine_3134738.png);
    background-repeat: no-repeat;
    color: #3a3acc;
}

.baloon:hover{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-repeat: no-repeat;
    color: #e61986;
}

.ship:hover{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-repeat: no-repeat;
    color: #13155e;
}

.tractor:hover{
    background-image: url(../img/noun_Tractor_3134797.png);
    background-repeat: no-repeat;
    color: #e67919;
}

.bicycle:hover{
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-repeat: no-repeat;
    color: #42f282;
}

.tram:hover{
    background-image: url(../img/noun_Tram_3134750.png);
    background-repeat: no-repeat;
    color: #cc4949;
}

/* end Image hover */
