/* Utility */ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* end Utility */

/* Contain */
.page_contain{
    width: 80%;
    margin: auto;
}
/* end Contain */

.title{
    height: 150px;
    line-height: 150px;
    font-size: 5rem;
    color: #ffffff;
}

/* Card */
.card{
    width: 24%;
    height: 430px;
    border-radius: 1rem;
    float: left;
    margin: 2% 0.5%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    box-shadow: 2px 2px 4px #424242;
}

.card_txt{
    font-size: 2.3rem;
    display: none;
    padding-top: 370px;
}

.card:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.card:hover .card_txt{
    display: block;
}
/* end Card */

/* Image hover */
.submarine:hover{
    background-image: url(../img/noun_Submarine_3134738.png);
    background-repeat: no-repeat;
    color: #3a3acc;
}

.baloon:hover{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-repeat: no-repeat;
    color: #e61986;
}

.ship:hover{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-repeat: no-repeat;
    color: #13155e;
}

.tractor:hover{
    background-image: url(../img/noun_Tractor_3134797.png);
    background-repeat: no-repeat;
    color: #e67919;
}

.bicycle:hover{
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-repeat: no-repeat;
    color: #42f282;
}

.tram:hover{
    background-image: url(../img/noun_Tram_3134750.png);
    background-repeat: no-repeat;
    color: #cc4949;
}
/* end Image hover */

.footer> h4{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
